<!DOCTYPE html>
<html>
<head>
  <title>Geolinguist by Team VG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>
  (Programming) Language use by Region
</h1>
by Team VG


<%= yield %>

</body>
</html>

